<!DOCTYPE HTML>
<html>
	<head>
		<title>We Got Food At Home!</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/main.css" />
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1>We Got Food At Home!</h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
							</ul>
						</nav>

				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">

						<!-- Content -->
							<article class="box post">
								<section>
									<header>
										<h3>Searching For Recipes</h3>
									</header>
									<div class="image_instructions"><img class="image featured" src="\static\user_input.png"></div>
									<div class="instruction_text">
										When you are searching for recipes you can provide a range of parameters such as...<br>
										<ul>
											<li>Cuisine Type</li>
											<li>Calorie and other nutrient counts</li>
											<li>Specific ingredients to include</li>
											<li>Whether it's breakfast, lunch, dinner, snack, teatime, or a dessert</li>
										</ul>
										Optionally you can provide no parameters and recieve a random set of recipes from our cookbook.<br>When your ready click on "Let's Cook!" to recieve a set of 20 recipes matching those parameters.
									</div>
								</section>
								
								<section>
									<header>
										<h3>Recipe Results</h3>
									</header>
									<div class="image_instructions"><img class="image featured" src="\static\recipe_output.png"></div>
									<div class="instruction_text">
										If successful The Kitchen will return up to 20 recipe results from your initial search parameters.<br><br>The result will provide an image of the food if avaliable, the ingredients, and a link to the original recipe source. <br>The Kitchen uses publically avaliable recipes and believe that we must give credit to the original creators.
									</div>
								</section>
								<section>
									<header>
										<h3>The Shopping List</h3>
									</header>
									<div class="image_instructions"><img class="image featured" src="static\saved_missing_ing.png"></div>
									<div class="instruction_text">
										The most frustrating thing when cooking is when you find a good recipe but do not have the necessary ingredients. <br> When searching for a recipe with The Kitchen we allow you to specify any ingredients you wish to exclude from you recipe searches. Missing ingredients can be defined by checking the item on the ingredient list and pressing save. Additionally you may also manually type an ingredient into the textbox below the ingredient list.<br><br>Press save to store items and avoid them in future searches.<br>The Kitchen uses machine learning to identify food ingredients. In the case that an item is missed, you are welcome to manually save it.
									</div>
								</section>
							</article>

					</div>
				</section>
	</body>
</html>